# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.VectorGraphics.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\info\Documents\Coding\GUI-Programozas\08-GUI-Programozas\VectorGraphics\.idea\.idea.VectorGraphics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
